@use 'variables' as *;

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #E3DAF7;
  padding: 40px 20px; // ✅ Valor base correcto
  gap: 30px;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.2);

  .container_information_footer {
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 100%;
    padding: 30px 20px;
    border-bottom: 1px solid #E3DAF7;
    flex-wrap: wrap;
  }
}

// ─── MÓVIL ───────────────────────────────────────────
@media (max-width: 480px) {
  footer {
    .container_information_footer {
            padding: 20px 0;
            text-align: center;
            flex-wrap: wrap;
        }
  }
}

